/* Reset styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header styles */
.header {
    padding: 20px;
    background-color: #5774cc;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 80px;
}

.header h1 .seo {
    color: black;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* General link styles */
a {
    color: #ffffff;
    text-decoration: none;
}

/* General paragraph styles */
p {
    font-size: 16px;
    margin-bottom: 15px; /* Added spacing between paragraphs */
}

/* Hero section styles */
.hero {
    height: 400px;
    width: 50%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float styles for images */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Content section styles */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits section styles */
.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    color: #ffffff;
}

.benefits section {
    margin-bottom: 32px;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Section styles */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer styles */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    margin-bottom: 15px; /* Added spacing below the heading */
}
